# blocheaza accesul la fisierul htaccess

<Files .htaccess>

order allow,deny

deny from all

</Files>

AddType application/octet-stream .csv
AddType application/octet-stream .xls
AddType application/octet-stream .doc
AddType application/octet-stream .avi
AddType application/octet-stream .mpg
AddType application/octet-stream .mov
AddType application/octet-stream .pdf
AddType application/octet-stream .jpg
AddType application/octet-stream .jpeg
AddType application/octet-stream .gif
AddType application/octet-stream .3gp
AddType application/octet-stream .mp4
AddType application/octet-stream .txt

# blocheaza executarea anumitor fisiere

RemoveType .pl .cgi .php .php3 .php4 .php5 .xml .phtml .phtm .html .htm .wml .shtm .shtml .asp

RemoveHandler .pl .cgi .php .php3 .php4 .php5 .xml .phtml .phtm .html .htm .wml .shtm .shtml .asp

#php_flag engine off

Options -Indexes



